html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

::selection {
  color: none;
  background: none;
}

::-moz-selection {
  color: none;
  background: none;
}

body {
  background: #ffffff;
  color: #44475B;
  margin: 0px;
  box-sizing: border-box;
  font-weight: 400;
  font-family: Roboto, system-ui;
  min-width: 320px;
  -webkit-font-smoothing: antialiased;
}